.primary-btn {
  background-color: #0E1B48;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 14px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 10px;
}

.primary-btn:hover {
  background-color: #0E1F2F;
}
