.search-content {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 12px;
}

.search-input {
  padding: 14px;
  width: 320px;
  border-radius: 10px;
  border: 1.5px solid #A66B9E;
  font-size: 16px;
  background-color: white;
  color: #0E1B48;
}

.search-button {
  padding: 14px 24px;
  background-color: #A66B9E;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.search-button:hover {
  background-color: #A66B9E;
}

.no-results {
  margin-top: 2rem;
  font-size: 16px;
  color: #999;
}
.search-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}






