.user-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  padding: 20px 30px;
  margin: 15px 0;
  border-radius: 18px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 40%;
  max-width: 600px;
  transition: transform 0.2s ease;
}

.user-card:hover {
  transform: translateY(-4px);
}

.user-card-avatar {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  border: 2px solid #C18DB4;
}

.user-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-card-info h4 {
  margin: 0;
  font-size: 18px;
  color: #0E1B48;
  font-weight: 600;
}

.user-card-info p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #27425D;
}

.follow-btn {
  background-color: #A66B9E;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 12px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.follow-btn:hover {
  background-color: #A66B9E;
}

.user-card-left {
  display: flex;
  align-items: center;
}
