/* === Global Reset === */
body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

/* === Global Code font === */
code {
  font-family: 'Courier New', Courier, monospace;
}

/* === Import Components CSS === */
@import './styles/AvatarUploader.css';
@import './styles/InputField.css';
@import './styles/PrimaryButton.css';
@import './styles/FollowPopup.css';
@import './styles/Sidebar.css';

@import './styles/SignupForm.css';
@import './styles/EditProfilePage.css';
@import './styles/UploadModal.css';
@import './styles/ProfilePage.css';
@import './styles/SearchPage.css';
@import './styles/UserCard.css';
@import './styles/WelcomePage.css';
@import './styles/TimelinePage.css';
@import './styles/SignupPage.css';
@import './styles/LoginPage.css';
@import './styles/ImageModal.css';
